In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# create path
path = r'/Users/macbook/Library/CloudStorage/OneDrive-Personal/Data Analisys/Instacart/02 Data'

In [51]:
#import orders_products_combined.pkl
orders_products_combined = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [49]:
# Checking columns of orders_products_combined.pkl
orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

In [41]:
# Checking shape of orders_products_combined.pkl
orders_products_combined.shape

(32434489, 11)

In [42]:
#import products_clean.csv
df_prods = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_clean.csv'))

In [43]:
# Checking columns of products_clean.csv
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [47]:
# Checking shape of products_clean.csv
df_prods.shape

(49677, 6)