In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# create path
path = r'/Users/macbook/Library/CloudStorage/OneDrive-Personal/Data Analisys/Instacart/02 Data'

In [3]:
# import orders_products_combined.pkl
orders_products_combined = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Checking columns of orders_products_combined.pkl
orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [5]:
# Checking shape of orders_products_combined.pkl
orders_products_combined.shape

(32434489, 11)

In [6]:
# import products_clean.csv
df_prods = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_clean.csv'))

In [7]:
# Checking columns of products_clean.csv
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Checking shape of products_clean.csv
df_prods.shape

(49677, 6)

In [11]:
# remove the "Unnamed: 0" column fromÂ df_prods
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [12]:
# Removing '_merge' column
orders_products_combined = orders_products_combined.drop(columns = ['_merge'])

In [13]:
# Merging products and orders data frames
df_orders_products_merged = orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [17]:
# Displaying Columns of merged orders and products data frame
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [18]:
df_orders_products_merged.rename(columns = {'order_dow' : 'order_day_of_week'}, inplace = True)

In [21]:
# Checking merge flag of merged data frame
df_orders_products_merged['_merge'].value_counts()

both          32406041
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
# Checking shape of merged data frame
df_orders_products_merged.shape

(32406041, 15)

In [23]:
# Export data to pkl
df_orders_products_merged.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_merged.pkl'))