### This script contains the following points: 
Exporting PKL DataFrame 'orders_products_combined.pkl'  
Anwers to Task 4.6, No. 3-9

In [16]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [17]:
# Defining path
path = r'/Users/macbook/Library/CloudStorage/OneDrive-Personal/Data Analisys/Instacart/02 Data'

#### Q3. In a new notebook, import the orders_products_combined dataframe from the pickle file just saved.

In [18]:
# Importing 'orders_products_combined.pkl'

df_ords_prods_comb = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [19]:
df_ords_prods_comb.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both

#### Q4. Check the shape of the imported dataframe (it should be the same as the one you exported — always check!)

In [20]:
df_ords_prods_comb.shape

(32640698, 10)

#### Yes, it is the same

#### Q5. Determine a suitable way to combine the 'orders_products_combined' dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [21]:
# Importing 'products_cleaned.csv'
df_prods_cleaned = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_cleaned.csv'), index_col = False)

In [22]:
df_prods_cleaned.shape

(49672, 6)

In [23]:
df_prods_cleaned.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [24]:
# remove the "Unnamed: 0" column from df_prods_cleaned
df_prods_cleaned = df_prods_cleaned.drop(columns = ['Unnamed: 0'])

In [25]:
df_prods_cleaned.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

#### Merging 2 DataFrames: 'orders_products_combined.pkl' and 'products_cleaned.csv'.

In [26]:
# Dropping '_merge' column from 'orders_products_combined.pkl'
df_ords_prods_comb = df_ords_prods_comb.drop(columns = ['_merge'])

In [28]:
df_ords_prods_comb.shape

(32640698, 9)

In [29]:
# Merging
df_ords_prods_merged = df_ords_prods_comb.merge(df_prods_cleaned, on = 'product_id', indicator = True)

#### Q6. Confirm the results of the merge using the merge flag.

In [30]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [31]:
df_ords_prods_merged.shape

(32404859, 14)

#### Q7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [32]:
# Import to PKL
df_ords_prods_merged.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_merged.pkl'))