## This file contains following points:  
 1.Exercise 4.7  
 2.Answers Task 4.7

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Defining path
path = r'/Users/macbook/Library/CloudStorage/OneDrive-Personal/Data Analisys/Instacart/02 Data'

In [3]:
# import orders_products_merged.pkl
df_orders_products_merged = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))

# Exercise 4.7

In [4]:
df_orders_products_merged.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both

In [5]:
df = df_orders_products_merged[:1000000]

#### 1. If-Statement using function

In [6]:
# Row is standard argument looking at each row within DataFrame

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/w2/swqynjr91bldf6fp6tjyc9x80000gn/T/ipykernel_13688/2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [8]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [9]:
df['prices'].max()

14.8

#### 2. If-Statements with the loc() Function

In [10]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df_orders_products_merged.loc[(df_orders_products_merged['prices'] <= 15) & (df_orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
df_orders_products_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

#### 3. If-Statements with For-Loops

In [14]:
df_orders_products_merged

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553.0,2.0,1.0,Orange Energy Shots,64,7,3.7,both,Low-range product
32404855,31526,202557,18,5,11,3.0,43553.0,2.0,1.0,Orange Energy Shots,64,7,3.7,both,Low-range product
32404856,758936,203436,1,2,7,NaN,42338.0,4.0,0.0,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product
32404857,2745165,203436,2,3,5,15.0,42338.0,16.0,1.0,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product
32404858,3093936,205420,1,4,14,NaN,28818.0,8.0,0.0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,Mid-range product

In [15]:
df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [17]:
result = []

for value in df_orders_products_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [18]:
df_orders_products_merged['busiest_day'] = result

In [19]:
df_orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [20]:
len(result)

32404859

In [21]:
df_orders_products_merged.shape

(32404859, 16)

## Task 4.7

#### Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural)
This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [23]:
labeling_counts = df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

In [24]:
labeling_counts

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [25]:
labeling_counts.index

Int64Index([0, 1, 6, 2, 5, 3, 4], dtype='int64')

In [26]:
# As index in this case is day nummber and sorted (ascending), 2 busiest days and 2 slowest days are found.
# I will use it as automated comparison for the days labeling by converting into list

In [27]:
day_number = list(labeling_counts.index)

In [29]:
day_number

[0, 1, 6, 2, 5, 3, 4]

In [30]:
results = []

for value in df_orders_products_merged['orders_day_of_week']:
    if value == day_number[0] or value == day_number[1]:
        results.append('Busiest days')
    elif value == day_number[len(day_number) - 1] or value == day_number[len(day_number) - 2]:
        results.append('Slowest days')
    else:
        results.append('Regulary busy days')

In [32]:
# Checking if results length = DataFrame length
len(results)

32404859

In [33]:
df_orders_products_merged['orders_day_of_week'].shape

(32404859,)

In [34]:
# Results length corresponds to the DataFrame. We can just merge it.
# Create a new column in 'df_orders_products_merged' named busiest_days

df_orders_products_merged['busiest_days'] = results

#### 3. Check the values of this new column for accuracy. Note any observations in markdown format.

In [35]:
df_orders_products_merged['busiest_days'].value_counts(dropna = False)

Regulary busy days    12916111
Busiest days          11864412
Slowest days           7624336
Name: busiest_days, dtype: int64

#### 4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [36]:
# Reminding of how the data looks like

df_orders_products_merged.head(5)

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

In [37]:
# Converting frequency into dictionary
dict_labeling_counts = df_orders_products_merged['order_hour_of_day'].value_counts(dropna = False).to_dict()

In [38]:
# Checking frequency dictionary
dict_labeling_counts

{10: 2761760,
 11: 2736140,
 14: 2689136,
 15: 2662144,
 13: 2660954,
 12: 2618532,
 16: 2535202,
 9: 2454203,
 17: 2087654,
 8: 1718118,
 18: 1636502,
 19: 1258305,
 20: 976156,
 7: 891054,
 21: 795637,
 22: 634225,
 23: 402316,
 6: 290493,
 0: 218769,
 1: 115700,
 5: 87961,
 2: 69375,
 4: 53242,
 3: 51281}

In [39]:
# Grouping into Most orders, Average orders and Fewest orders, I decided to use percentile as criteria.

list_quantile = list(df_orders_products_merged['order_hour_of_day'].value_counts(dropna = False).quantile([0.75, 0.5, 0.25]))

In [40]:
list_quantile

[2556034.5, 1117230.5, 272562.0]

In [41]:
results_labeling_hour = []

In [43]:
# I used percentiles and nested loop here for grouping automation, 
# instead of hardcoding it using value 'order_hour_of_day' in the If-Statement.

for value in df_orders_products_merged['order_hour_of_day']:
    for key, val in dict_labeling_counts.items():
        if value == key:
            if val < list_quantile[2]:
                results_labeling_hour.append('Fewest orders')
            elif val >= list_quantile[2] and val < list_quantile[1]:
                results_labeling_hour.append('Average orders')
            elif val >= list_quantile[1]:
                results_labeling_hour.append('Most orders')

In [44]:
# Function to check the list before merging it with the DataFrame
def labeling_result (x):
    most_orders = x.count('Most orders')
    average_orders = x.count('Average orders')
    fewest_orders = x.count('Fewest orders')
    
    print(f'Most orders: {most_orders}')
    print(f'Average orders: {average_orders}')
    print(f'Fewest orders: {fewest_orders}')
    print(f'Total: {most_orders + average_orders + fewest_orders}')

In [45]:
# Checking the grouping process through nested loop.
labeling_result(results_labeling_hour)

Most orders: 27818650
Average orders: 3989881
Fewest orders: 596328
Total: 32404859

In [46]:
df_orders_products_merged['order_hour_of_day'].shape

(32404859,)

#### Since both length corresponds to each other, we can integrate it into 'df_orders_products_merged'.

In [47]:
df_orders_products_merged['busiest_period_of_day'] = results_labeling_hour

#### 5. Print the frequency for this new column.

In [48]:
df_orders_products_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       27818650
Average orders     3989881
Fewest orders       596328
Name: busiest_period_of_day, dtype: int64

#### 6. Ensure your notebook is clean and structured and that your code is well commented
#### 7. Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [49]:
# Export to PKL
df_orders_products_merged.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged_update.pkl'))